.container .filters {
  height: 70px;
  width: 100%;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.container .filters div {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}
.container .filters div:first-of-type {
  border-right: 1px solid #dddddd;
}

.container .filters h3 {
  font-weight: 600;
  margin: 0px 30px;
  padding: 0px;
}
.container .filters h4 {
  font-weight: 400;
  font-size: 14px;
  margin: 0px 30px;
  padding: 0px;
  
}
.container .filters .amenities {
  border-right: none;
}
.container .filters button {
  font-size: 18px;
  background-color: #ff5a5f;
  color: #ffffff;
  height: 48px;
  width: 20%;
  border: none;
  border-radius: 4px;
  margin-right: 30px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  right: 0;
}
.container .filters button:hover {
  opacity: 90%;
}

/* Media query for smaller screens */
@media screen and (max-width: 400px) {
  .container .filters {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    padding: 10px;
  }

  .container .filters div {
    width: 100%;
    margin-bottom: 10px;
  }

  .container .filters button {
    width: 50%;
    margin-bottom: 30px;
    position: static;
  }
}

.container .filters .popover {
  display: none;
  background-color: #FAFAFA;
  border: 1px solid #dddddd;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  width: 100%;
  margin: inherit;
  padding: inherit;
  list-style-type: none;
}

.container .filters .popover h2 {
  font-size: 16px;
  margin-left: 30px;
}

.container .filters .popover li {
  margin-left: 30px;
}

.container .filters .locations:hover .popover{
  display: block;
  background-color: #ffffff;
  z-index: 1;
}

.container .filters .amenities:hover .popover{
  display: block;
  background-color: #ffffff;
  z-index: 1;
}

.container .places {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center ;
}

.container .places h1 {
  font-size: 30px;
  justify-self: flex-start;
  width: 100%;
}

.container .places article {
  width: 390px;
  padding: 20px;
  margin: 20px;
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  height: auto;
}

.container .places article h2 {
  font-size: 30px;
  margin-left: 30px;
}